body{
  margin:0;
  padding:0;
  text-align: center;
}
/*button{
  border: solid black 1px;
  text-align: center;
  border-radius: 5px;
  margin: 10px auto 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}*/
#monMessage,#histo_Tma,#agent_Tma,#ticket_agent,#contrat_Tma{
  visibility: hidden;
  display: none;
}
